/*===== Styles =====*/
@font-face {
	font-family: "Japan";
	src: url("font/Japan.ttf");
}

body {
	background-color: #E5EDF1;
	margin: 0px;
}

/*===== Header =====*/
#header {
	background-color: #96C2DB;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 9;
}

#header h1 {
	margin: 10px 30px;
	color: white;
	font-family: 'Japan', fantasy;
	font-size: 37px;
}

#name {
	float: left;
}

/*===== Nav =====*/
#nav-wrapper {
	font-size: 0px;
}

#nav {
	margin: 0px;
	padding: 0px;
	width: 424px;
	height: 0px;
	float: right;
}

#nav a {
	height: 0px;
	margin: 0px 40px;
	color: white;
	font-size: 18px;
	display: inline-block;
	text-align: center;
	line-height: 63px;
	text-decoration: none;
}

#nav a:hover {
	color: lightgray;
}

#nav .active {
	color: black;
}

/*===== Footer =====*/
#footer {
	background-color: #666;
	color: white;
	padding: 30px 0px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#footer h1 {
	margin: 0px 0px 30px;
}

#footer p {
	margin: 0px;
}

#border {
	border-bottom: 1px solid white;
	width: 1000px;
	margin: 30px auto;
	opacity: 0.4;
}

.socials {
	margin: 0px 20px;
	display: inline-block;
}

.social_icon {
	font-size: 2rem;
	margin: 0px;
	color: white;
}

.social_icon:hover {
	color: #96C2DB;
}

.clearfloat {
	clear: both;
}

/*===== Home =====*/
.fly-in-text {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
	display: inline-block;
	margin-right:50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 4em;
	opacity: 1;
	transition: all 2.5s ease;
}

.fly-in-text.hidden li {
	opacity: 0;
} 

.fly-in-text.hidden li:nth-child(1) {
	transform: translateX(-200px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(2) {
	transform: translateX(20px) translateY(100px);
}
.fly-in-text.hidden li:nth-child(3) {
	transform: translateX(-150px) translateY(-80px);
}
.fly-in-text.hidden li:nth-child(4) {
	transform: translateX(10px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(5) {
	transform: translateX(-300px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(6) {
	transform: translateX(80px) translateY(-20px);
}
.fly-in-text.hidden li:nth-child(7) {
	transform: translateX(30px) translateY(200px);
}

#background1 {
	background-image: url('img/mountain.JPG');
	background-size: cover;
	background-position: center;
	height: 500px;
}

#intro {
	width: 1000px;
	margin: 0px auto;
	padding: 50px 10px 60px 10px;
	font-family: 'Open Sans', sans-serif;
}

#intro a {
	color: black;
}

#background2 {
	background-image: url('img/bridge.JPG');
	background-size: cover;
	background-position: center;
	height: 600px;
}

 #background2 p {
 	font-family: 'Open Sans', sans-serif;
 	margin: 0px;
 	padding-top: 190px;
 	text-align: center;
 	color: white;
 	font-size: 70px;
}

#background2 a {
	color: white;
	text-decoration: none;
}

#background2 a:hover {
	color: lightgray;
}

/*===== Resume =====*/
#resume_content {
	width: 1100px;
	margin: 0px auto;
	padding: 80px 10px 10px;
	font-family: 'Open Sans', sans-serif;
}

#education {
	margin-right: 100px;
	width: 500px;
	float: left;
}

#education p {
	margin-bottom: 30px;
}

#usc_details {
	float: left;
}

#usc_details p {
	margin: 0px 0px 22px;
}

#usc_logo {
	width: auto;
	height: 110px;
	border-radius: 50%;
}

.courses_data {
	margin-bottom: 20px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.courses_icon {
	font-size: 2rem;
	margin-right: 10px;
	color: #990f08;
}

.courses {
	display: flex;
	align-items: center;
}

#prof_skills {
	width: 500px;
	float: left;
}

#prof_skills p {
	margin-bottom: 30px;
}

.skills_data {
	margin-bottom: 20px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills_icon {
	font-size: 2rem;
	margin-right: 10px;
	color: #96C2DB;
}

.skills {
	display: flex;
	align-items: center;
}

#download {
	margin: 75px 0px;
	text-align: center;
}

#download h1 {
	margin-bottom: 50px;
}

#download a {
	border: 1px solid black;
	padding: 20px;
	color: black;
	text-decoration: none;
}

#download a:hover {
	background-color: black;
	color: white;
}

/*===== Contact =====*/
#contact_content {
	height: 526px;
	margin: 0px auto;
	padding: 80px 10px 10px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#contact_content h1 {
	font-size: 40px;
}

#message {
	margin-bottom: 100px;
}

.contact_socials {
	margin: 0px 20px;
	display: inline-block;
}

.contact_social_icon {
	font-size: 4rem;
	margin: 0px;
	color: #666;
}

.contact_social_icon:hover {
	color: #96C2DB;
}

#email h1 {
	margin-bottom: 45px;
}

#email a {
	background-color: #96C2DB;
	padding: 15px 30px;
	border-radius: 25px;
	color: white;
	text-decoration: none;
}

/*===== Media Queries =====*/
@media screen and (max-width: 1451px) {
    .fly-in-text li {
		margin-right: 30px;
		font-weight: 300;
		font-size: 4em;
	}
}

@media screen and (max-width: 1170px) {
    .fly-in-text li {
		margin-right: 30px;
		font-weight: 300;
		font-size: 3em;
	}

	#background2 p {
		font-size: 60px;
	}

	#resume_content {
		width: 1000px;
	}

	#education {
		width: 480px;
		margin-right: 40px;
	}

	#prof_skills {
		width: 480px;
	}
}

@media screen and (max-width: 1008px) {
	.fly-in-text {
		width: 400px;
		padding-right: 20px;
	}

    .fly-in-text li {	
    	display: inline-block;
		margin-right: 20px;
		font-weight: 300;
	}

	#resume_content {
		width: 700px;
	}

	#education {
		width: 700px;
	}

	#prof_skills {
		width: 700px;
	}
}

@media screen and (max-width: 767px) {
	.fly-in-text {
		width: 300px;
		padding-left: 60px;
	}

    .fly-in-text li {	
    	display: inline-block;
		margin-right: 20px;
		font-weight: 300;
		text-align: center;
        margin: 0 auto;
	}

	#intro {
		width: auto;
	}

	#background2 p {
		font-size: 50px;
	}

	#resume_content {
		width: 500px;
	}

	#education {
		width: 500px;
	}

	#prof_skills {
		width: 500px;
	}
}

@media screen and (max-width: 575px) {
	.fly-in-text li {	
    	display: inline-block;
		margin-right: 10px;
		font-weight: 300;
		text-align: center;
        margin: 0 auto;
	}

    #nav {
    	width: auto;
    }

	#nav a {
		margin: 0px 20px;
		font-size: 16px;
	}

	#body {
		width: auto;
	}

	#background2 p {
		font-size: 40px;
	}

	#resume_content {
		width: auto;
	}

	#education {
		margin-right: 0px;
		width: auto;
	}

	#usc_logo {
		height: 100px;
	}

	#prof_skills {
		width: auto;
	}
}
